:root {
  --darkgray: rgb(66, 66, 66);
  --lightblue: #59b7e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(218, 218, 218);
}

.header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--lightblue);
  color: black;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 1;
}

.picture {
  height: 25%;
  width: 80%;
  /* position: relative; */
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 10px;
}

.selfp {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  left: 2px;
  bottom: 15px;
  max-width: 295px;
  max-height: 287px;
}

.header h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  bottom: 10px;
  left: 40px;
}

.phonenb {
  display: none;
}

.navbar a {
  display: block;
  padding: 20px 10px 50px 25px;
  text-decoration: none;
  font-size: 35px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.navbar a:hover {
  color: var(--darkgray);
}

.navbar a:visited {
  color: var(--darkgray);
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  border: 2px solid black;
  background-color: rgb(172, 172, 172);
  width: 1750px;
  position: relative;
  left: 300px;
  z-index: 0;
}

.info {
  text-align: center;
  font-size: 30px;
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.align {
  position: relative;
  right: 170px;
}

.flex {
}

.box {
  border: 2px dashed black;
  height: 225px;
  width: 500px;
  height: 375px;
  margin-left: 500px;
  background-color: var(--lightblue);
  position: relative;
  left: 250px;
}

.box:hover {
  box-shadow: -10px -10px 50px #63cbff;
}

.bcss {
  width: 350px;
  height: 250px;
  position: relative;
  left: 75px;
  top: 15px;
}

.desc {
  margin-left: -200px;
  text-align: left;
  font-size: 25px;
  position: relative;
  top: 50px;
  right: 65px;
  display: inline;
}

.footer {
  display: block;
}
